@media screen and (max-width:576px) {
    .navbar{
        flex-direction: column;
    }
        .left-nav{
            justify-content: center;
            width: 100%;
        }

        .right-nav{
            flex-direction: column;
            width:100%;
        }

        /* banner section */

        .GOAT-banner-container{
            gap:20px;
            flex-direction: column-reverse;
         
        }
    
          .banner-items{
            padding:30px;
            width:100%;
          }
          .GOAT-image{
            margin-top:10px;
            width:100%;
          
          }

 
 /* we are gamer */
 
 .gamaer-parent{
  flex-direction: column;
  padding: 5px;

 }
 .gamer-right,.game-left{
    width:100%;
 }

.gamer-left img{
    width:100%;
}
.gamer-right{
    text-align: center;
}

/* online section */

.card-container{
    gap:40px;
    flex-direction: column;
    align-items: center;
   
}

/* play section */
.play-left{
    width:100%;
}
.play-isntant-container{
    flex-direction: column;
    margin:100px 50px;
    gap:50px;
}
.play-left-includer{
    text-align: center;
    width: 100%;
}

.play-right img{
    width:100%
}

/* game types section */
.games-types{
   display: grid;
   grid-template-columns: repeat(3,120px);
   justify-content: center;
   place-items:center;
   column-gap: 10px;
   padding:0px;
   margin: 0px;
}








}