@media screen and (max-width:576px) {
    .navbar{
        flex-direction: column;
    }
        .left-nav{
            justify-content: center;
            width: 100%;
        }

        .right-nav{
            flex-direction: column;
            width:100%;
        }

        /* banner section */

        .GOAT-banner-container{
            gap:20px;
            flex-direction: column-reverse;
         
        }
    
          .banner-items{
            padding:30px;
            width:100%;
          }
          .GOAT-image{
            margin-top:10px;
            width:100%;
          
          }

 
 /* we are gamer */
 
 .gamaer-parent{
  flex-direction: column;
  padding: 5px;

 }
 .gamer-right,.game-left{
    width:100%;
 }

.gamer-left img{
    width:100%;
}











}